<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="move-folder-modal" class="modal fade" id="folderMoveModal" tabindex="-1" aria-labelledby="folderMoveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="folderMoveModalLabel">
                    You are moving folder: <span id="movedFolderName" class="fw-semibold"></span>
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form th:action="@{/folder/move}" method="post" class="m-0" th:object="${moveFolderRequest}">
                <div class="modal-body">
                    <label for="targetFolderForFolderMove">Move to folder: </label>
                    <select th:name="targetPath" id="targetFolderForFolderMove" class="form-select">
                        <option selected disabled value="default">Select folder</option>
                    </select>
                    <input type="hidden" th:name="name" id="folderName">
                    <input type="hidden" th:name="parentPath" id="parentPath">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Move</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

</html>