<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<nav th:fragment="navbar(activeTab)" class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" th:href="@{/home}">
            <i class="fas fa-file-upload me-2"></i>
            Cloud file storage
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'home' ? 'active' : ''}" th:href="@{/home}">
                        <i class="fas fa-home me-1"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${activeTab == 'search' ? 'active' : ''}" th:href="@{/search}">
                        <i class="fas fa-search me-1"></i> Search
                    </a>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" id="dropdownMenuButton1">
                <span th:text="${session.username}"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end text-center" aria-labelledby="dropdownMenuButton1" >
                <li>
                    <form th:action="@{/auth/logout}" method="post">
                        <button type="submit" style="background: none; border: none; color: inherit; cursor: pointer;">
                            Logout
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>