<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:insert="~{fragments/head-general.html :: head-general}"></div>

<div th:fragment="user-file-upload">
    <form th:action="@{/file/upload}" method="post" enctype="multipart/form-data"
          id="uploadFileForm" th:object="${uploadFileRequest}">
        <input type="hidden" name="path" id="path-file" th:name="parentPath">
        <div class="upload-area" id="dropZoneFile">
            <i class="fas fa-cloud-upload-alt fa-3x text-primary mb-3"></i>
            <h5>Drag & drop or click to select</h5>
            <p class="text-muted">You can upload files or folders</p>
            <input type="file" th:name="multipartFile" id="fileItem" class="form-control"
                   onchange="updateItemName('fileItem', 'selectedFileName')">
            <p id="selectedFileName" class="mt-2 d-none"></p>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-upload px-4 py-2 mt-3">
                <i class="fas fa-upload me-2"></i>Upload
            </button>
        </div>
    </form>
</div>

<div class="d-flex align-items-center justify-content-between w-100" th:fragment="user-file-card(file)">
    <div>
        <i class="fas fa-file me-3 text-primary fa-lg"></i>
        <span th:text="${file.itemName}" class="text-break"></span>
    </div>
    <div class="d-flex">
        <form th:action="@{/file/download}" method="get" th:object="${downloadFileRequest}" class="me-2">
            <input type="hidden" th:name="fileName" th:value="${file.itemName}">
            <input type="hidden" th:name="parentPath" th:value="${file.parentPath}">
            <button type="submit" class="btn btn-sm btn-outline-secondary">
                <i class="fa fa-download"></i>
            </button>
        </form>

        <button class="btn btn-sm btn-outline-secondary me-2"
                data-bs-toggle="modal"
                data-bs-target="#fileMoveModal"
                th:attr="data-file-name=${file.itemName}, data-parent-path=${file.parentPath}">
            <i class="fa-solid fa-arrows-up-down-left-right"></i>
        </button>

        <button class="btn btn-sm btn-outline-primary me-2"
                data-bs-toggle="modal"
                data-bs-target="#fileNameChangeModal"
                th:attr="data-parent-path=${file.parentPath}, data-item-name=${file.itemName}">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>

        <button class="btn btn-sm btn-remove"
                data-bs-toggle="modal"
                data-bs-target="#confirmFileDeleteModal"
                th:data-whatever="${file.absolutePath}">
            <i class="fas fa-trash"></i>
        </button>
    </div>
</div>
</html>