<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="~{fragments/head-general.html :: head-general}"></div>
    <title>Something went wrong...</title>
    <link th:href="@{/css/errorPageStyles.css}" rel="stylesheet">
</head>
<body>
    <div class="custom-bg text-dark">
        <div class="d-flex align-items-center justify-content-center min-vh-100 px-2">
            <div class="text-center">
                <h1 class="display-1 fw-bold" th:text="${errorDto.statusCode}"></h1>
                <p class="fs-2 fw-medium mt-4 mb-5" th:text="${errorDto.message}"></p>
                <div class="col-12">
                    <div class="d-grid my-3">
                        <a href="/home" class="btn btn-primary btn-lg">
                            <i class="fa-solid fa-arrow-left"></i> Back to home
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>
</html>
